/*
Error: Invalid CSS after "    /height: 65px": expected "{", was ";"
        on line 342 of main.scss

337:   @include until($desktop){
338:     //height: 70px;
339:   }
340:   @include until($tablet){
341:     padding-top: 0;
342:     /height: 65px;
343:   }
344:   .columns{
345:     overflow-x: auto;
346:     white-space: nowrap;
347:     @include until($tablet){

Backtrace:
main.scss:342
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1308:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1238:in `expected'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:1233:in `tok!'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:688:in `block'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:758:in `declaration_or_ruleset'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:708:in `block_child'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:700:in `block_contents'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:689:in `block'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:257:in `include_directive'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:234:in `special_directive'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:209:in `directive'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:708:in `block_child'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:700:in `block_contents'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:689:in `block'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:681:in `ruleset'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:707:in `block_child'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:700:in `block_contents'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:137:in `stylesheet'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/scss/parser.rb:41:in `parse'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/engine.rb:414:in `_to_tree'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/engine.rb:389:in `_render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/engine.rb:307:in `render_with_sourcemap'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:338:in `watch_or_update'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/exec/base.rb:50:in `parse'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/lib/sass/exec/base.rb:18:in `parse!'
C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/sass-3.7.2/bin/scss:13:in `<top (required)>'
C:/Ruby24-x64/bin/scss:23:in `load'
C:/Ruby24-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    /height: 65px\": expected \"{\", was \";\"\A         on line 342 of main.scss\A \A 337:   @include until($desktop){\A 338:     //height: 70px;\A 339:   }\A 340:   @include until($tablet){\A 341:     padding-top: 0;\A 342:     /height: 65px;\A 343:   }\A 344:   .columns{\A 345:     overflow-x: auto;\A 346:     white-space: nowrap;\A 347:     @include until($tablet){"; }
