# bundle exec jekyll serve --port 4001 --baseurl ''

title: Лоббизм в Госдуме
email: your-email@example.com
description: 'Интерактивная карта лоббистских возможностей депутатов Государственной Думы РФ: лоббистские группы, законопроекты и персоналии'
baseurl: "" # the subpath of your site, e.g. /blog
sf: "sf"
title_sf: Лоббизм в Совете Федерации
description_sf: 'Интерактивная карта лоббистских возможностей членов Совета Федерации: лоббистские группы, законопроекты и персоналии'
url: "https://dumabingo.ru" # the base hostname & protocol for your site, e.g. http://example.com

collections:
  about:
    output: true
  about_sf:
    output: true

include: ['person']

#page_gen:
#  - data: 'lobbist-27-09-2019'
#    template: 'card'
#    name: 'person'
#    dir: 'card'

page_gen:
  - data: 'lobbist-sf-05-04-2021'
    template: 'card_sf'
    name: 'person'
    dir: 'card_sf'

doclad_url:  'Лоббизм в Госдуме.pdf'
doclad_sf_url:  'Лоббизм в Совете Федерации.pdf'
rating_url: 'Рейтинг влияния депутатов Госдумы.pdf'
rating_sf_url: 'Рейтинг_влияния_членов_Совета_Федерации.pdf'

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
