<!DOCTYPE html>
<html lang="en">
  <head>
    <head>
      <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" />
      <meta
        name="viewport"
        content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"
      />
      <meta http-equiv="x-ua-compatible" content="ie=edge" />

      <meta property="og:url" content="https://dumabingo.org/" />
      <meta property="og:title" content="ДумаБинго" />
      <meta
        property="og:description"
        content="Интерактивная карта лоббистских возможностей депутатов Государственной Думы РФ 8 созыва: лоббистские группы, законопроекты и персоналии."
      />
      <meta
        name="description"
        content="Интерактивная карта лоббистских возможностей депутатов Государственной Думы РФ 8 созыва: лоббистские группы, законопроекты и персоналии."
      />
      <meta name="twitter:title" content="ДумаБинго" />
      <meta
        name="twitter:description"
        content="Интерактивная карта лоббистских возможностей депутатов Государственной Думы РФ 8 созыва: лоббистские группы, законопроекты и персоналии."
      />
      <meta
        property="og:image"
        content="https://dumabingo.org/assets/images/preview_img_duma-8.jpg"
      />
      <meta
        name="twitter:image"
        content="https://dumabingo.org/assets/images/preview_img_duma-8.jpg"
      />

      <meta property="og:type" content="website" />
      <meta name="twitter:card" content="summary_large_image" />

      <link rel="stylesheet" href="/assets/css/duma-8.css" />

      <link
        rel="apple-touch-icon"
        sizes="57x57"
        href="/assets/images/favicon/apple-icon-57x57.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="60x60"
        href="/assets/images/favicon/apple-icon-60x60.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="72x72"
        href="/assets/images/favicon/apple-icon-72x72.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="76x76"
        href="/assets/images/favicon/apple-icon-76x76.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="114x114"
        href="/assets/images/favicon/apple-icon-114x114.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="120x120"
        href="/assets/images/favicon/apple-icon-120x120.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="144x144"
        href="/assets/images/favicon/apple-icon-144x144.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="152x152"
        href="/assets/images/favicon/apple-icon-152x152.png"
      />
      <link
        rel="apple-touch-icon"
        sizes="180x180"
        href="/assets/images/favicon/apple-icon-180x180.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="192x192"
        href="/assets/images/favicon/android-icon-192x192.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="32x32"
        href="/assets/images/favicon/favicon-32x32.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="96x96"
        href="/assets/images/favicon/favicon-96x96.png"
      />
      <link
        rel="icon"
        type="image/png"
        sizes="16x16"
        href="/assets/images/favicon/favicon-16x16.png"
      />
      <link rel="manifest" href="/manifest.json" />
      <meta name="msapplication-TileColor" content="#ffffff" />
      <meta
        name="msapplication-TileImage"
        content="/assets/images/favicon/ms-icon-144x144.png"
      />
      <meta name="theme-color" content="#ffffff" />
      <meta name="yandex-verification" content="7160760aaac29faa" />
      <title></title>
    </head>

    <meta charset="UTF-8" />
    <meta property="og:url" content="https://dumabingo.org/person/31901" />
    <meta
      property="og:image"
      content="https://dumabingo.org/assets/images/preview_img.jpg"
    />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="ДумаБинго: Лавриненко Алексей Федорович"
    />
    <meta property="og:description" content="Депутат Государственной Думы" />
    <meta name="description" content="Депутат Государственной Думы" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:description"
      content="Депутат Государственной Думы"
    />
    <meta
      property="twitter:title"
      content="ДумаБинго: Лавриненко Алексей Федорович"
    />
    <meta
      property="twitter:image"
      content="https://dumabingo.org/assets/images/preview_img.png"
    />
    <title>ДумаБинго: Лавриненко Алексей Федорович</title>
  </head>
  <body>
    <script
      async
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
    ></script>
    <div id="card" class="modal">
      <script id="card_template" type="text/template">
        {% unless currentLawSelected %}
        <div class="share_icons">

            <div class="know_more" ><a href="{{ sendForm }}" id="send_form" target="_blank">Знаете о {% if page.type == 'sf'%}сенаторе {%else%}депутате {%endif%}больше? Напишите нам!</a></div>

            <div class="social">
                <a href="{{ twPerson }}"  target="_blank" class="tw" id="tw_person"><span class="icon"><i class="fab fa-twitter"></i></span></a>
                <a href="{{ vkPerson }}" target="_blank" class="vk vk_share_button" id="vk_person"><span class="icon"><i class="fab fa-vk"></i></span></a>
            </div>

        </div>
        {% endunless %}


        <div id="close_btn" class="icon is-large close_btn"></div>

        {% unless currentLawSelected %}
            <div class="card__main-info">
                {% if isLoading %}
                    <div class="card-info-loading is-loading"></div>
                {% endif %}
                {% if fullname %}
                <div class="card__header">
                    <div class="status">
                        {% if lastUpdate %}
                            <div class="last-update">Обновлено: {{ lastUpdate }}</div>
                        {% endif %}
                        {% if editing %}
                            <div class="is-editing">На доработке</div>
                        {% endif %}
                    </div>

                    <div class="columns head">
                        <div class="column is-4" id="photo">
                            <div class="image-cropper">
                                <div class="color-black">
                                    <img width="128" height="128" src="{{ photo }}" alt="person">
                                </div>
                            </div>
                        </div>
                        <div class="column caption"><span id="fraction_text" class="{{ fractionClass }}">{{ fraction }}</span><br>
                            <h1 id="fullname">{{ fullname }}</h1>
                            {% if prevConvocationUrl %}
                                <a class="prev-position link-button link-button_bordered" target="_blank" href="{{ prevConvocationUrl }}">Найти в предыдущем созыве</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="declaration-highlights">
                        <div class="highlight-item">
                            <div class="highlight-value">{{ income }} <span class="rub">₽</span></div>
                            <div class="highlight-text">доход</div>
                        </div>
                        <div class="highlight-item">
                            <div class="highlight-value">{{ square }} <span class="rub">м²</span></div>
                            <div class="highlight-text">недвижимость</div>
                        </div>
                    </div>
                    <div class="dep-links">
                        <a id="open_declaration" class="link-button" target="_blank" href="{{ openDeclaration }}">Посмотреть декларацию</a>
                        {% if openRupep %}
                            <a class="link-button" target="_blank" href="{{ openRupep }}">Открыть досье на Rupep</a>
                        {% endif %}
                    </div>
                    <div id="position">{{ positionHtml | raw }}</div>
                    <div id="region"></div>
                    <div id="temp_comission">{{ tempComissionHtml | raw }}</div>

                    {% if lawStatProposed and lawStat %}
                        <div class="columns is-vcentered laws_block is-multiline is-mobile" id="laws">
                            <div class="column is-full-mobile is-narrow-tablet">
                                <div class="columns is-vcentered bring">
                                    <div class="column is-narrow-tablet is-full-mobile law_count" id="law_number_vnes">{{ lawStatProposed }}</div>
                                    <div class="column is-full-mobile is-narrow-tablet law_text" id="law_text_bring">{{ lawTextBringHtml | raw }}</div>
                                </div>
                            </div>
                            <div class="column is-full-mobile is-half-tablet">
                                <div class="columns is-vcentered bring">
                                    {% if lawStatAccepted > 0 %}
                                        <div class="column is-narrow-tablet is-full-mobile law_count" id="law_number_podpis">{{ lawStatAccepted }}</div>
                                        <div class="column is-full-mobile is-narrow-tablet law_text">{{ lawTextPassed }}</div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <button  id="scrollToTop" title="Наверх">&uarr;</button>
                </div>
                {% endif %}
                {% if laws %}
                    <div class="accordion" data-accordion-id="0">
                        <div class="accordion__title">Мониторинг законопроектов</div>
                        <div class="accordion__content accordion__content_wide">
                            {% for law in laws %}
                                <div class="card__law" data-law-id="{{ law.id }}">
                                    <div class="card__law-header">
                                        <a href="/#law{{ law.id }}" target="_blank" class="card__law-header-title card__law-details-button">№ {{law.number}}</a>
                                        {% if false %}
                                            <span class="card__law-header-status">На рассмотрении</span>
                                        {% endif %}
                                    </div>
                                    <div class="card__law-content">
                                        {{ law.name }}
                                    </div>
                                    <a class="link-button link-button_bordered card__law-details-button" target="_blank" href="/#law{{ law.id }}"
                                    >Подробнее о законопроекте</a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if lobbys %}
                    <div class="accordion" data-accordion-id="1">
                        <div class="accordion__title">Группы интересов</div>
                        <div class="accordion__content">{{ lobbyHtml | raw }}</div>
                    </div>
                {% endif %}
                {% if bio %}
                <div class="accordion" data-accordion-id="2">
                    <div class="accordion__title">Биография</div>
                    <div class="accordion__content">{{ bio | raw }}</div>
                </div>
                {% endif %}
                {% if submitted %}
                <div class="accordion" data-accordion-id="3">
                    <div class="accordion__title">Законотворчество</div>
                    <div class="accordion__content">{{ submitted | raw }}</div>
                </div>
                {% endif %}
                {% if relations %}
                <div class="accordion" data-accordion-id="4">
                    <div class="accordion__title">Аффиляция и связи</div>
                    <div class="accordion__content">{{ relations | raw }}</div>
                </div>
                {% endif %}
                {% if conclusion %}
                <div class="accordion" data-accordion-id="5">
                    <div class="accordion__title">Выводы</div>
                    <div class="accordion__content">{{ conclusion | raw }}</div>
                </div>
                {% endif %}
            </div>
        {% endunless %}

        {% if currentLawSelected %}
            <div class="card__law-info">
                {% if isLawDetailsLoading %}
                    <div class="card__law-info-loading is-loading"></div>
                {% elsif currentLawSelectedData %}
                    <div class="card__law-info-header">
                        <div class="card__law-info-meta">
                            {% if false %}
                                <div class="card__law-info-meta-item">
                                    <span class="card__law-info-meta-item-title">Статус:</span>
                                    <span class="card__law-info-meta-item-value">На рассмотрении</span>
                                </div>
                            {% endif %}
                            {% if currentLawSelectedData.link %}
                                <div class="card__law-info-meta-item">
                                    <span class="card__law-info-meta-item-title">Источник:</span>
                                    <span class="card__law-info-meta-item-value">
                                        <a target="_blank" href="{{ currentLawSelectedData.link }}">СОЗД</a>
                                    </span>
                                </div>
                            {% endif %}
                            {% if currentLawSelectedData.keywords %}
                                <div class="card__law-info-meta-item">
                                    <span class="card__law-info-meta-item-title">Теги:</span>
                                    {% for keyword in currentLawSelectedData.keywords %}
                                        <span class="card__law-info-meta-item-value">{{ keyword }}</span>
                                        {%- if forloop.last == false -%},{%- endif %}
                                    {% endfor -%}
                                </div>
                            {% endif %}
                        </div>
                        <div class="card__law-info-title">Законопроект № {{ currentLawSelectedData.number }}</div>
                        <div class="card__law-info-description">
                            {{ currentLawSelectedData.name }}
                        </div>
                        {% if false %}
                            <div class="card__law-info-caption">
                                caption
                            </div>
                        {% endif %}
                        <div class="card__law-info-meta">
                            {% if currentLawSelectedData.law_authors_enriched %}
                                <div class="card__law-info-meta-item">
                                    <span class="card__law-info-meta-item-title">Авторы:</span>
                                    <span class="card__law-info-meta-item-value">
                                        {% if currentLawSelectedData.law_authors_enriched_more_size > 0 and lawAuthorsIsShowMore == false%}
                                            {% for author in currentLawSelectedData.law_authors_enriched_cut %}
                                                <a
                                                href="{{ author.link }}"
                                                class="card__law-info-meta-item-author"
                                                data-author-id="{{ author.id }}"
                                                >{{ author.name }}</a>
                                            {% endfor -%}
                                            <a href="" class="card__law-info-meta-item-more">еще {{ currentLawSelectedData.law_authors_enriched_more_size }}</a>
                                        {% else %}
                                            {% for author in currentLawSelectedData.law_authors_enriched %}
                                                <a
                                                href="{{ author.link }}"
                                                class="card__law-info-meta-item-author"
                                                data-author-id="{{ author.id }}"
                                                >{{ author.name }}</a>
                                                {%- if forloop.last == false -%},{%- endif %}
                                            {% endfor -%}
                                        {% endif %}
                                    </span>
                                </div>
                            {% endif %}
                            {% if false %}
                                <div class="card__law-info-meta-item">
                                    <span class="card__law-info-meta-item-title">Дата внесения:</span>
                                    <span class="card__law-info-meta-item-value card__law-info-meta-item-value_plain">22 сентября 2022</span>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {% if currentLawSelectedData.core %}
                        <div class="accordion">
                            <div class="accordion__title">Суть законопроекта</div>
                            <div class="accordion__content">{{ currentLawSelectedData.core }}</div>
                        </div>
                    {% endif %}
                    {% if currentLawSelectedData.possible_interested_persons %}
                        <div class="accordion">
                            <div class="accordion__title">Возможные интересанты</div>
                            <div class="accordion__content">{{currentLawSelectedData.possible_interested_persons}}</div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endif %}
      </script>
    </div>
    <script type="text/javascript">
      window.LAYOUT_VARS = {
        type: "",
        layout: "",
        permalink: "",
        feedbackUrl: "",
        isProd: /dumabingo.org/.test(window.location.href),
      };
    </script>
    <!--inject:vendor:js-->
    <script src="/assets/js/vendor-555c8018.js"></script>
    <!--endinject-->
    <!--inject:main:js-->
    <script src="/assets/js/main-0b54dd58f.js"></script>
    <!--endinject-->
  </body>
</html>
