<div id="card" class="modal">
    <div class="share_icons">
        <div class="know_more" ><a href="" id="send_form" target="_blank">Знаете о {% if page.sf%}сенаторе {%else%}депутате {%endif%}больше? Напишите нам!</a></div>

        <div class="social">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdumabingo.ru%2F"  target="_blank" class="fb" id="fb_person"><span class="icon"><i class="fab fa-facebook-square"></i></span></a>
            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdumabingo.ru%2F&text={{site.description}}"  target="_blank" class="tw" id="tw_person"><span class="icon"><i class="fab fa-twitter"></i></span></a>
            <a href="http://vk.com/share.php?url=https%3A%2F%2Fdumabingo.ru%2F" target="_blank" class="vk vk_share_button" id="vk_person"><span class="icon"><i class="fab fa-vk"></i></span></a>
        </div>


    </div>
    <div>
    <div class="icon is-large close_btn">
        <i class="fas fa-times fa-lg"></i>
    </div>
    <div class="columns head">
        <div class="column is-4" id="photo">
            <div class="image-cropper">
                <div class="color-black">
                    <img width="128" height="128" src="" alt="person">
                </div>
            </div>
        </div>
        <div class="column caption"><span id="fraction_text"></span><br>
            <h1 id="fullname"></h1>
            <a id="open_declaration" target="_blank" href="">Посмотреть декларацию</a>
        </div>
    </div>
    <div id="position"></div>
    <div id="region"></div>
    <div id="temp_comission"></div>

    <div class="columns is-vcentered laws_block is-multiline is-mobile" id="laws">
        <div class="column is-full-mobile is-narrow-tablet">
            <div class="columns is-vcentered bring">
                <div class="column is-narrow-tablet is-full-mobile law_count" id="law_number_vnes"></div>
                <div class="column is-full-mobile is-narrow-tablet law_text" id="law_text_bring"></div>
            </div>
        </div>
        <div class="column is-full-mobile is-half-tablet">
            <div class="columns is-vcentered bring">
                <div class="column is-narrow-tablet is-full-mobile law_count law_signed" id="law_number_podpis"></div>
                <div class="column  is-full-mobile is-narrow-tablet law_text law_signed">
                    из них <span id="law_text_passed"></span> <br>
                    <span class="law_text_average">в среднем </span>за
                    <span id="sred_day"></span>
                    <span id="law_text_day"> дней</span>
                </div>
            </div>
        </div>
    </div>
    <div class="lobby_block">
        <h2>Группы интересов</h2>
        <div id="lobby" class="matrix"></div>
    </div>
    <h2>Биография</h2>
    <div id="bio"></div>
    <h2>Внесённые законопроекты</h2>
    <div id="submitted"></div>
    <h2>Аффиляция и связи</h2>
    <div id="relations"></div>
    <h2>Выводы</h2>
    <div id="conclusion"></div>
    <button  id="scrollToTop" title="Наверх">&uarr;</button>
    </div>
</div>
