<div id="card" class="modal">
    <div class="icon is-large close_btn">
        <i class="fas fa-times fa-lg"></i>
    </div>
    <div class="columns">
        <div class="column is-4" id="photo">
            <div class="image-cropper">
                <div class="color-black">
                    <img width="128" height="128">
                </div>
            </div>
        </div>
        <div class="column"><span id="fraction_text"></span><br>
            <h1 id="fullname"></h1></div>
    </div>
    <div id="position"></div>
    <div class="columns is-vcentered laws_block is-multiline is-mobile" id="laws">
        <div class="column is-full-mobile is-narrow-tablet">
            <div class="columns is-mobile is-vcentered">
                <div class="column is-narrow-tablet is-3-mobile law_count" id="law_number_vnes"></div>
                <div class="column is-8-mobile is-narrow-tablet law_text" id="law_text_bring"></div>
            </div>
        </div>
        <div class="column is-full-mobile is-half-tablet">
            <div class="columns is-mobile is-vcentered">
                <div class="column is-narrow-tablet is-3-mobile law_count law_signed" id="law_number_podpis"></div>
                <div class="column  is-8-mobile is-narrow-tablet law_text law_signed">
                    из них <span id="law_text_passed"></span> <br>
                    <span class="law_text_average">в среднем </span>за
                    <span id="sred_day"></span>
                    <span id="law_text_day"> дней</span>
                </div>
            </div>
        </div>
    </div>
    <div class="lobby_block">
        <h2>Лобби</h2>
        <div id="lobby" class="matrix"></div>
    </div>
    <h2>Биография</h2>
    <div id="bio"></div>
    <h2>Внесённые законопроекты</h2>
    <div id="submitted"></div>
    <h2>Аффиляция и связи</h2>
    <div id="relations"></div>
    <h2>Выводы</h2>
    <div id="conclusion"></div>
</div>
