<div id="card" class="modal">
    <div>
        <button class="modal-close fas fa-times" aria-label="close"></button>
    </div>
    <div class="columns">
        <div class="column is-4" id="photo"><div class="image-cropper"><img width="128" height="128"></div></div>
        <div class="column"><span id="fraction_text"></span><br>
            <h1 id="fullname"></h1></div>
    </div>
    <div id="position"></div>
    <div class="columns is-vcentered is-mobile" id="laws">
        <div class="column law_count is-2 is-4-mobile" id="law_number_vnes"></div>
        <div class="column law_text is-3 is-4-mobile">законов <br> выдвинуто</div>
        <div class="column law_count is-2 is-4-mobile law_signed" id="law_number_podpis"></div>
        <div class="column law_text law_signed">из них приняты <br> в среднем за <span id="sred_day"></span> дней</div>
    </div>
    <h2>Лобби</h2>
    <div id="lobby" class="capitalizeFirsLetter"></div>
    <h2>Биография</h2>
    <div id="bio"></div>
    <h2>Участие в законопроектах</h2>
    <div id="submitted"></div>
    <h2>Аффиляция и связи</h2>
    <div id="relations"></div>
</div>