<div id="controls" class="columns is-multiline is-vcentered is-mobile">
    <div class="column is-narrow  is-hidden-mobile">
        <div class="field is-grouped">
            <div class="buttons  has-addons control" id="fraction">
                <button class="button is-small is-active is-color-blue" value="Единая Россия">ЕР</button>
                <button class="button is-small is-active is-color-red" value="КПРФ">КПРФ</button>
                <button class="button is-small is-active is-color-orange" value="Справедливая Россия">СР</button>
                <button class="button is-small is-active is-color-yellow" value="ЛДПР">ЛДПР</button>
                <button class="button is-small is-active is-color-gray" value="Вне партии">Вне партии</button>
            </div>
        </div>
    </div>
    <div class="column is-narrow is-hidden-mobile">
        <div class="field is-grouped is-hidden-mobile">
            <div class="buttons  has-addons control" id="power">
                <button class="button is-small is-color-white" value="исполнительный орган власти">Исполнительная</button>
                <button class="button is-small is-color-white" value="законодательный орган власти">Законодательная власть</button>
            </div>
        </div>
    </div>
    <div class="column is-narrow is-hidden-mobile">
        <div class="field is-grouped is-hidden-mobile">
            <div class="select is-small control">
                <select id="select_committees"></select>
            </div>
        </div>
    </div>
    <div class="column is-narrow is-hidden-mobile">
        <div class="field is-grouped is-hidden-mobile">
            <div class="buttons  has-addons control" id="gender">
                <button class="button is-small is-color-white" value="M">М</button>
                <button class="button is-small is-color-white" value="F">Ж</button>
            </div>
        </div>
    </div>
    <div class="column is-narrow sliders is-hidden-mobile">
        <div class="field is-grouped is-hidden-mobile">
            <div class="control age">
                <div class="slider_label">
                    <span id="age-slider-snap-value-lower"></span> -
                    <span id="age-slider-snap-value-upper"></span>
                    лет
                </div>
                <div id="age"></div>

            </div>
            <div class="control convocations">
                <div class="slider_label">
                    <span id="slider-snap-value-lower"></span>
                    -
                    <span id="slider-snap-value-upper"></span> лет в СФ
                </div>
                <div id="convocations"></div>
            </div>
        </div>
    </div>
    <div class="column is-narrow-tablet">
        <div class="field is-grouped">
            <div class="control has-icons-right is-expanded">
                <input class="input is-small" type="text" id="search" name="q" placeholder="Турчак">
                <span class="icon is-small is-right search_icon">
                    <i class="fas fa-search"></i>
                </span>
            </div>

        </div>
    </div>
    <div class="column is-narrow-tablet">
        <div class="field is-grouped">
            <div class="select select_lobby is-small">
                <select id="select_lobby"></select>
            </div>

        </div>
    </div>
    <div class="column is-narrow last-on-mobile">
        <div class="field is-grouped">

            <div class="select select_lobby is-small is-hidden-mobile">
                <select id="select_region"></select>
            </div>
            <button class="button is-small is-color-white is-hidden" id="clear">
                <span class="icon">
                    <i class="fas fa-times"></i>
                </span>
                <span class="is-hidden-mobile">Сбросить</span>

            </button>
        </div>
    </div>
    <div class="presets" id="presets-first">
        {% include presets-sf.html %}
    </div>
</div>
