<div class="footer">

    <div class="columns is-vcentered is-mobile">
        <div class="column social is-narrow is-hidden-desktop">
            <a href="http://vk.com/share.php?url=https%3A%2F%2Fdumabingo.ru%2F" target="_blank" class="vk vk_share_button"><span class="icon"><i class="fab fa-vk"></i></span></a>
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdumabingo.ru%2F"  target="_blank" class="fb"><span class="icon"><i class="fab fa-facebook-square"></i></span></a>
            <a href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdumabingo.ru%2F&text={{site.description}}"  target="_blank" class="tw"><span class="icon"><i class="fab fa-twitter"></i></span></a>
        </div>
        <div class="column copy">
            {% if page.sf %}
            Источники: сайт&nbsp;<a href="http://council.gov.ru">Совета Федерации</a>,<wbr> собственное исследование
            {% else %}
            Источники: сайт&nbsp;<a href="http://duma.gov.ru">Госдумы</a>,<wbr> собственное исследование
            {% endif %}
        </div>
        <div class="column copy is-pulled-right is-narrow-desktop">
            Проект выполнен <a href="http://datastorytellers.net/">DataStorytellers</a><wbr> совместно с <a href="https://kmpny.github.io/">Компанией</a>
        </div>
    </div>

    {% if page.sf != true %}
    <div class="extra columns is-multiline">
        <div class="column is-full">
            <p>Материалы на этом сайте произведены и распространены АНО «Центр «ТИ-Р», принудительно внесенной в реестр некоммерческих организаций, выполняющих функции «иностранного агента»</p>
        </div>
        <div class="column is-full">
            <p>Согласно российскому законодательству, Крым и Севастополь считаются принятыми в Российскую Федерацию. Генеральная Ассамблея ООН «подтверждает суверенитет и территориальную целостность Украины в её международно признанных границах» и «подчеркивает, что референдум, проведенный в Автономной Республике Крым и городе Севастополе 16 марта 2014 года, не имея законной силы, не может быть основой для любого изменения статуса Автономной Республики Крым или города Севастополя».</p>
        </div>
        <div class="column is-full">
            <a target="_blank" href="https://transparency.org.ru/politika-konfidencialnosti/">Политика конфиденциальности</a>
        </div>
    </div>
    {% else %}
    <div class="extra agent columns is-multiline">
        <div class="column is-full ">
            <p>Материалы на этом сайте произведены и распространены АНО «Центр «ТИ-Р», принудительно внесенной в реестр некоммерческих организаций, выполняющих функции «иностранного агента». <a target="_blank" href="https://transparency.org.ru/politika-konfidencialnosti/">Политика конфиденциальности</a></p>
        </div>
    </div>
    {% endif %}

</div>
