<div class="footer">

    <div class="columns is-mobile is-vcentered">
        <div class="column social is-hidden-desktop">
            <a href="" class="vk"><span class="icon"><i class="fab fa-vk"></i></span></a>
            <a href="" class="fb"><span class="icon"><i class="fab fa-facebook-square"></i></span></a>
            <a href="" class="tw"><span class="icon"><i class="fab fa-twitter"></i></span></a>
        </div>
        <div class="column copy">
            Источники: сайт&nbsp;<a href="http://duma.gov.ru">Госдумы</a>,<wbr> собственное расследование
        </div>
        <div class="column copy is-pulled-right is-narrow">
            Проект выполнен <a href="">DataStorytellers</a><wbr> совместно с <a href="">Компанией</a>
        </div>
    </div>

</div>