<div class="footer">
  <div class="columns is-vcentered is-mobile">
    <div class="column social is-narrow is-hidden-desktop">
      <a
        href="http://vk.com/share.php?url=https%3A%2F%2Fdumabingo.org%2F"
        target="_blank"
        class="vk vk_share_button"
        ><span class="icon"><i class="fab fa-vk"></i></span
      ></a>
      <a
        href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdumabingo.org%2F&text={{site.meta.description[page.type]}}"
        target="_blank"
        class="tw"
        ><span class="icon"><i class="fab fa-twitter"></i></span
      ></a>
    </div>
    <div class="column copy">
      {% if page.type == 'sf' %} Источники: сайт&nbsp;<a
        href="http://council.gov.ru"
        >Совета Федерации</a
      >,<wbr /> <a href="https://sozd.duma.gov.ru/">СОЗД</a>,<wbr /> собственное
      исследование {% else %} Источники: сайт&nbsp;<a href="http://duma.gov.ru"
        >Госдумы</a
      >,<wbr /> <a href="https://sozd.duma.gov.ru/">СОЗД</a>,<wbr /> собственное
      исследование {% endif %}
    </div>
    <div
      class="column copy is-pulled-right has-text-right is-narrow-desktop contact-email"
    >
      По любым вопросам пишите на почту<br /><a
        href="mailto:dumabingo@gmail.com"
        >dumabingo@gmail.com</a
      >
    </div>
  </div>
  <div class="extra agent columns is-multiline">
    <div class="is-full is-size-7">
      <p>
        На портале используются термины, предусмотренные соответствующими
        российскими федеральными конституционными законами в отношении отдельных
        территорий на полуострове Крым, вокруг реки Днепр и у Азовского моря.
        Использование этих терминов не означает выражения отношения к
        международно-правовому статусу территорий.
      </p>
      <p>
        Этот сайт не содержит утверждений о совершении упомянутыми в нем лицами
        преступлений, правонарушений и нечестных поступков, об их неправильном,
        неэтичном поведении в личной, общественной или политической жизни. Мы
        никого не обвиняем в недобросовестности при осуществлении
        производственно-хозяйственной и предпринимательской деятельности,
        нарушении деловой этики или обычаев делового оборота. Авторы предприняли
        все усилия, чтобы проверить содержащиеся в этом докладе сведения. Сервис
        «ДумаБинго» не несет ответственность за использование и интерпретацию
        этих сведений третьими лицами.
      </p>
      <p>
        * Дельность организации Meta Inc, владеющей Инстаграм и Фейсбук, на
        территории России запрещена по основаниям осуществления экстремистской
        деятельности.
      </p>
      <p>
        ** НО "Фонд борьбы с коррупцией" решением суда признана экстремистской в
        РФ, ее деятельность запрещена
      </p>
    </div>
  </div>
</div>
