<div>
    <div>
        ПРЕДСТАВИТЕЛЬСТВО ГРУПП ИНТЕРЕСОВ = A + B + C
    </div>
    <div>
        <div>
            <div>A</div>
            <div>
                Законопроекты депутата, выгодные конкретным людям / бизнесу
            </div>
        </div>
        <div>
            <div>B</div>
            <div>
                Связи депутата с конкретными людьми / бизнесом, которых касаются законопроекты
            </div>
        </div>
        <div>
            <div>C</div>
            <div>
                Публичная деятельность
            </div>
        </div>
    </div>
</div>