<header class="hero-head ">
    <div class="columns is-vcentered is-mobile">
        <div class="column c1">
            <h1><a href="/index.html">Лоббизм в госдуме</a></h1>
        </div>
        <div class="column c2 is-hidden-mobile">
            <h2>Какие депутаты служат не только народу</h2>
        </div>
        <div class="column is-pulled-right c3 "><a href="/about">О&nbsp;проекте</a>
        </div>
        <div class="column is-pulled-right c4 is-hidden-mobile"><a href=""><span class="icon"><i class="fab fa-vk"></i></span></a>
        </div>
        <div class="column is-pulled-right c5 is-hidden-mobile"><a href=""><span class="icon"><i class="fab fa-facebook-square"></i></span></a>
        </div>
        <div class="column is-pulled-right c6 is-hidden-mobile"><a href=""><span class="icon"><i class="fab fa-twitter"></i></span></a>
        </div>
    </div>
</header>