<head>
    <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" >
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta property="og:url"           content="{{ site.url }}{% if page.sf%}/{{site.sf}}{%endif%}" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="{% if page.sf%}{{ site.title_sf }}{%else%}{{ site.title }}{%endif%}" />
    <meta property="og:description"   content="{% if page.sf%}{{ site.description_sf }}{%else%}{{ site.description }}{%endif%}" />
    <meta property="og:image"         content="https://dumabingo.ru/assets/images/{% if page.sf%}preview_img_sf.png{%else%}preview_img.png{%endif%}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{% if page.sf%}{{ site.title_sf }}{%else%}{{ site.title }}{%endif%}">
    <meta name="twitter:description" content="{% if page.sf%}{{ site.description_sf }}{%else%}{{ site.description }}{%endif%}">
    <meta name="twitter:image" content="https://dumabingo.ru/assets/images/{% if page.sf%}preview_img_sf.png{%else%}preview_img.png{%endif%}">

    {% if page.sf %}
        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/sf.css">
    {% else %}
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
    {% endif %}
    <link rel="icon" href="{{site.baseurl}}/{% if page.sf%}favicon_sf.png{%else%}favicon.png{%endif%}">
    <title>{% if page.sf%}{{ site.title_sf }}{%else%}{{ site.title }}{%endif%}</title>
</head>


