<head>
  <meta charset="utf-8" xmlns="http://www.w3.org/1999/xhtml" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"
  />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />

  {% include meta.html %}

  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />

  {% if page.type == 'about' %}
  <link rel="canonical" href="{{site.baseurl}}/about" />
  {% endif %} {% if page.type == 'sf' %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/sf.css" />
  {% elsif page.type == 'duma_7' %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/duma-7.css" />
  {% elsif page.type == 'about_sf' %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/sf.css" />
  {% else %}
  <link rel="stylesheet" href="{{site.baseurl}}/assets/css/duma-8.css" />
  {% endif %} {% include theme.html %}

  <meta name="yandex-verification" content="7160760aaac29faa" />
  <!-- Подключение CSS для Toastr -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
  />
  <title>{{ site.meta.title[page.type] }}</title>
</head>
