<header class="hero-head ">
    <div class="columns is-vcentered is-mobile">
        <div class="column c1">
            <h1><a href="{{site.baseurl}}/">Лоббизм в госдуме</a></h1>
        </div>
        <div class="column c2 is-hidden-touch">
            <h2>Какие депутаты служат не только народу</h2>
        </div>
        <div class="column is-pulled-right c3 "><a href="{{site.baseurl}}/about">О&nbsp;проекте</a>
        </div>
        <div class="column is-pulled-right c4 is-hidden-touch"><a href="" class="c4"><span class="icon is-large"><i class="fab fa-vk"></i></span></a>
        </div>
        <div class="column is-pulled-right c5 is-hidden-touch"><a href="" class="c5"><span class="icon is-large"><i class="fab fa-twitter"></i></span></a>
        </div>
        <div class="column is-pulled-right c6 is-hidden-touch"><a href="" class="c6"><span class="icon is-large"><i class="fab fa-facebook-square"></i></span></a>
        </div>
    </div>
</header>