
<section class="cd-intro" style="display: none;">
    <div class="image-cropper n1"><div class="color-blue"><img width="186" height="186" src="https://declarator.org/media/lobbist/%D0%92%D0%BE%D0%BB%D0%BE%D0%B4%D0%B8%D0%BD_%D0%92%D1%8F%D1%87%D0%B5%D1%81%D0%BB%D0%B0%D0%B2_%D0%92%D0%B8%D0%BA%D1%82%D0%BE%D1%80%D0%BE%D0%B2%D0%B8%D1%87.jpg" alt="Володин"></div></div>
    <div class="image-cropper n2"><div class="color-blue"><img width="186" height="186" src="https://declarator.org/media/lobbist/%D0%AF%D1%80%D0%BE%D0%B2%D0%B0%D1%8F_%D0%98%D1%80%D0%B8%D0%BD%D0%B0_%D0%90%D0%BD%D0%B0%D1%82%D0%BE%D0%BB%D1%8C%D0%B5%D0%B2%D0%BD%D0%B0.jpg" alt="Яровая"></div></div>
    <div class="image-cropper n3"><div class="color-red"><img width="186" height="186" src="https://declarator.org/media/lobbist/%D0%9B%D0%B5%D0%B1%D0%B5%D0%B4%D0%B5%D0%B2_%D0%9E%D0%BB%D0%B5%D0%B3_%D0%90%D0%BB%D0%B5%D0%BA%D1%81%D0%B0%D0%BD%D0%B4%D1%80%D0%BE%D0%B2%D0%B8%D1%87.jpg" alt="Лебедев"></div></div>

    <div class="image-cropper n4"><div class="color-blue"><img width="186" height="186" src="https://declarator.org/media/lobbist/%D0%A5%D0%B0%D0%B9%D1%80%D1%83%D0%BB%D0%BB%D0%B8%D0%BD_%D0%90%D0%B9%D1%80%D0%B0%D1%82_%D0%9D%D0%B0%D0%B7%D0%B8%D0%BF%D0%BE%D0%B2%D0%B8%D1%87.jpg" alt="Хайруллин"></div></div>
    <div class="image-cropper n5"><div class="color-orange"><img width="186" height="186" src="https://declarator.org/media/lobbist/%D0%A5%D0%BE%D0%B2%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D0%93%D0%B0%D0%BB%D0%B8%D0%BD%D0%B0_%D0%9F%D0%B5%D1%82%D1%80%D0%BE%D0%B2%D0%BD%D0%B0.jpg" alt="Хованская"></div></div>
    <div class="image-cropper n6"><div class="color-yellow"><img width="186" height="186" src="https://declarator.org/media/lobbist/%D0%9F%D0%B0%D0%B9%D0%BA%D0%B8%D0%BD_%D0%91%D0%BE%D1%80%D0%B8%D1%81_%D0%A0%D0%BE%D0%BC%D0%B0%D0%BD%D0%BE%D0%B2%D0%B8%D1%87.jpg" alt="Пайкин"></div></div>

    <div class="image-cropper n7"><div class="color-blue"><img width="186" height="186" src="https://declarator.org/media/lobbist/%D0%91%D0%BE%D1%8F%D1%80%D1%81%D0%BA%D0%B8%D0%B9_%D0%A1%D0%B5%D1%80%D0%B3%D0%B5%D0%B9_%D0%9C%D0%B8%D1%85%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D0%B8%D1%87.jpg" alt="Боярский"></div></div>
    <div class="image-cropper n8"><div class="color-yellow"><img width="186" height="186" src="https://declarator.org/media/lobbist/%D0%96%D0%B8%D1%80%D0%B8%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B9_%D0%92%D0%BB%D0%B0%D0%B4%D0%B8%D0%BC%D0%B8%D1%80_%D0%92%D0%BE%D0%BB%D1%8C%D1%84%D0%BE%D0%B2%D0%B8%D1%87.jpg" alt="Жириновский"></div></div>
    <div class="image-cropper n9"><div class="color-red"><img width="186" height="186" src="https://declarator.org/media/lobbist/%D0%97%D1%8E%D0%B3%D0%B0%D0%BD%D0%BE%D0%B2_%D0%93%D0%B5%D0%BD%D0%BD%D0%B0%D0%B4%D0%B8%D0%B9_%D0%90%D0%BD%D0%B4%D1%80%D0%B5%D0%B5%D0%B2%D0%B8%D1%87.jpg" alt="Зюганов"></div></div>



    <div class="cd-intro-content">
        <div class="block">
					<p><a href="https://transparency.org.ru">«Трансперенси Интернешнл — Россия»</a> изучили лоббистские возможности <a href="http://duma.gov.ru/duma/deputies/7/">депутатов Государственной думы</a> и практики их использования.</p>
					<p>Здесь вы узнаете, с какими инициативами и в чьих интересах выступают депутаты седьмого созыва Госдумы. Мы изучили биографии, законотворческую и медийную активность парламентариев, сведения о тех, кто поддерживал их на выборах, связи депутатов с коммерческими и некоммерческими организациями, а также с органами власти.</p>
					<p><strong>Как пользоваться ресурсом</strong><br>
					Депутаты обозначены кружками и собраны в лоббистские группы. Один депутат может находиться сразу в нескольких группах. Цвет кружка обозначает цвет фракции, к которой принадлежит депутат, а его размер определяет уровень потенциальных лоббистских возможностей, согласно его положению в рейтинге. </p>
					<p>Чтобы узнать о депутате подробнее, нажмите на кружок или воспользуйтесь фильтрами.</p>
					<a href="" class=" main-action cd-btn"><div class="action-wrapper">Посмотреть</div></a>
        </div>
    </div>
</section>
<script>/*
    $('body').addClass('intro-open')
    $('.main-action').click(
        function (e) {
            e.preventDefault();
            $('.cd-intro').hide();
            $('body').removeClass('intro-open')
        })*/
</script>
