<div class="legend">
  <div class="legend__button">
    <button id="button-show-legend" class="button is-primary dmbng-button dmbng-button_shine">
      <i class="dmbng-button__icon_separated dmbng-button__icon_info"></i>
      Как читать схему
    </button>
  </div>
  <div class="legend__info">
    <div class="legend__info-title">Степень влияния депутата</div>
    <div class="legend__info-content">
      <span class="legend__info-item legend__info-item_small">низкая</span>
      <span class="legend__info-item legend__info-item_big">высокая</span>
    </div>
  </div>
  <div id="modal-legend" class="legend__modal" tabindex="5">
    <div class="legend__modal-close"></div>
    <div class="legend__modal-content">
      <p class="title is-4 legend__modal-title">Как пользоваться ресурсом?</p>
      <p>Депутаты обозначены кружками и собраны в группы интересов. Один депутат может находиться сразу в нескольких группах, его кружки соединяются линиями при наведении. </p>
      <p><span class="has-text-weight-bold">Цвет</span> кружка обозначает цвет фракции, к которой принадлежит депутат, а его размер отображает степень влияния депутатов на прохождение законопроектов. Чтобы узнать о депутате подробнее, нажмите на кружок.</p>
      <p>Искать депутатов можно по <span class="has-text-weight-bold">фильтрам</span>: по принадлежности к фракции, мандату, комитету, полу, возрасту, количеству созывов, группе интересов или по фамилии в поиске.</p>
      <p>Под фильтрами мы расположили <span class="has-text-weight-bold">пресеты</span> — любопытные на наш взгляд группы депутатов, собранные через совокупность фильтров.</p>
    </div>
  </div>
</div>