<div id="presets-first" class="is-hidden-mobile">
    <a href="" id="preset1" data-lobby="11696">  Аграрное лобби </a>
    <a href="" id="preset2" data-fraction="Единая Россия" data-lobby="11604">  Лоббисты Москвы </a>
    <a href="" id="preset3"  data-conv_min="1" data-conv_max="1">  Лоббисты-новички </a>
    <a href="" id="preset4" data-comittee="Комитет ГД по бюджету и налогам">  Из комитета по бюджету и налогам </a>
    <a href="" id="preset5" data-fraction="ЛДПР">  Лоббисты из ЛДПР </a>
    <a href="" id="preset6" data-fraction="ЛДПР" data-lobby="11851">  Коммунисты-не лоббисты </a>
    <a href="" id="preset7" data-method="одномандатный округ" data-lobby="11695">  Одномандатники за медицину </a>
    <a href="" id="preset8" data-fraction="Единая Россия" data-lobby="11694">  “Табачные” лоббисты из ЕР </a>
    <a href="" id="preset9" data-lobby="11693">  Алкогольное лобби </a>
</div>