<div id="presets-second">
    <a href="" id="preset10">  Справороссы за ЖКХ </a>
    <a href="" id="preset11">  Пайкин </a>
    <a href="" id="preset12">  Крашенинников </a>
    <a href="" id="preset13">  Чилингаров </a>
    <a href="" id="preset14">  Литовченко </a>
    <a href="" id="preset15">  Володин </a>
    <a href="" id="preset16">  Яровая </a>
    <a href="" id="preset17">  Из комитета по экологии </a>
    <a href="" id="preset18">  Из комитета по охране здоровья </a>
    <a href="" id="preset19">  Опытные лоббисты </a>
    <a href="" id="preset20">  За Татарстан</a>
</div>