
    <a href="" id="preset1" data-lobby="11696">  Сельское хозяйство </a>
    <a href="" id="preset2" data-fraction="Единая Россия" data-lobby="11604">  Представители Москвы </a>
    <a href="" id="preset3"  data-conv_min="1" data-conv_max="1">  Депутаты-новички </a>
    <a href="" id="preset4" data-comittee="Комитет ГД по бюджету и налогам">  Из комитета по бюджету и налогам </a>
    <a href="" id="preset6" data-fraction="КПРФ" data-lobby="11851">  Из КПРФ без групп интересов</a>
    <a href="" id="preset7" data-method="одномандатный округ" data-lobby="11695">  Одномандатники за медицину </a>
    <a href="" id="preset8" data-fraction="Единая Россия" data-lobby="11694">  Табачный бизнес и ЕР </a>
    <a href="" id="preset9" data-lobby="11693">  Алкогольный бизнес лобби </a>
