<div class="support-stats">
  <div class="support-stats__item">
    <div class="support-stats__item-value">{{ include.dayPrice }} <span class="rub">₽</span></div>
    <div class="support-stats__item-caption">стоит один день работы нашей команды</div>
  </div>
  <div class="support-stats__item">
    <div class="support-stats__item-value">{{ include.cardCount }}</div>
    <div class="support-stats__item-caption">карточек депутатов мы мониторим ежедневно</div>
  </div>
  <div class="support-stats__item">
    <div class="support-stats__item-value">{{ include.bestDonate }} <span class="rub">₽</span></div>
    <div class="support-stats__item-caption">лучшее ежемесячное пожертвование</div>
  </div>
</div>

<a class="button is-primary dmbng-button support-button is-medium dmbng-button_arial" href="https://transparency.org.ru/donate/">
  Оформить пожертвование
</a>