<div id="scrollytelling">
    <div id="close_cross">
    </div>
    <div id='root'>
    </div>
    <div id = 'container'>
        <div id ='p1' class='section first'><div>
            Совет Федерации (сенат) - верхняя палата Федерального Собрания Российской Федерации. Всего в Сенате может заседать 200 человек - 170 от регионов и 30 человек по назначению Президента России.
            <div class="arrow">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div></div>
        <div id ='p2' class='section'><div>
            <span class="tellingCircle">70% сенаторов</span> продвигают интересы различных групп: силовых структур, регионов, госкорпораций и различных отраслей экономики. И лишь 30% в продвижении интересов не замечены.
        </div></div>
        <div id ='p3' class='section'><div>
            В теории Совет Федерации представляет собой «палату регионов», в которой представители регионов представляют их интересы на федеральном уровне. Однако на деле этим занимается лишь 35% сенаторов.
        </div></div>
        <div id ='p4' class='section'><div>
            Помимо региональных групп интересов широкое представительство в Совете Федерации имеют силовики (22 человека), госкорпорации и крупный бизнес (25 человек).
        </div></div>
        <div id ='p5' class='section'><div>
            Лидерами в продвижении интересов являются сенаторы <span class="tellingCircle">Клишас</span> и <span class="tellingCircleAlt">Васильев</span>
            — они вносят законопроекты по 5 направлениям
        </div></div>
        <div id ='p6' class='section lastWithText'><div>
            Попробуйте найти других известных сенаторов и, кликнув на их, узнайте, что именно и как именно они продвигают в Совете Федерации
        </div>
            <button class="button" id="go_to_lobby_map">Открыть карту лоббизма</button>
        </div>

        <div class="extra columns is-multiline">
            <div class="column is-full">
                <p>Материалы на этом сайте произведены и (или) распространены АНО «Центр «ТИ-Р», принудительно внесенной в реестр некоммерческих организаций, выполняющих функции «иностранного агента»</p>
            </div>
            <div class="column is-full">
                <a target="_blank" href="https://transparency.org.ru/politika-konfidencialnosti/">Политика конфиденциальности</a>
            </div>
        </div>
    </div>
</div>
