<div>
  <div class="quote">
    <p>
      «Слово “лоббизм” часто используют в негативной коннотации, однако лоббизм
      — это один из возможных институтов взаимодействия государства и общества
      в целом, неотъемлемая часть политических процессов. Политики используют
      лоббистские практики как инструмент для продвижения интересов. Проблемы
      возникают, когда власть имущие злоупотребляют своим положением  продвигают
      чьи-то частные интересы (в том числе свои) в ущерб другим. Когда
      лоббирование происходит непублично, мы не можем навярняка узнать
      заказчиков и интересантов конкретной инициативы, а также стоимость таких
      услуг. Отсутствие прозрачности и подотчетности многократно повышает
      коррупциогенные факторы.
    </p>
    <p>
      Для профилактики и предотвращения подобных ситуаций необходимы такие
      проекты, как наш. В России нечасто пишут о лоббизме, эта сфера находится
      в тени. Вооружившись методологией, мы, исследователи “ДумаБинго”, делаем
      доступным и прозрачным то, что скрыто. Таким образом мы продвигаем
      ценности подотчетности и вносим свой вклад в развитие института
      репутации».
    </p>
  </div>
  <div class="quote__grid">
    <div class="quote__author">
      <img
        class="quote__author-img"
        src="/assets/images/content/photo-alexander.jpg"
        alt="Александр Верещагин"
      />
      <div class="quote__author-info">
        <div class="quote__author-name">Александр Верещагин</div>
        <div class="quote__author-position">Аналитик проекта</div>
        <div class="quote__author-caption">
          По любым вопросам пишите на почту<br />
          <a href="mailto:vereshchagin@dumabingo.org"
            >vereshchagin@dumabingo.org</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
