<div class="zoomer-control-container">
    <div class="zoomer-top zoomer-left">
        <div class="zoomer-control-zoom zoomer-bar zoomer-control">
            <a id="zoom-in" class="zoomer-control-zoom-in" href="#" title="Zoom in" role="button" aria-label="Zoom in">+</a>
            <a id="zoom-home" class="zoomer-control-zoom-home" href="#" title="Zoom home" role="button" aria-label="Zoom home"><i class="fas fa-home"></i></a>
            <a id="zoom-out" class="zoomer-control-zoom-out" href="#" title="Zoom out" role="button" aria-label="Zoom out">−</a>
        </div>
    </div>
</div>