.intro-open {
  overflow: hidden;
  position: fixed;
  right: 0;
  left: 0;
}

header {
  background: $key-color;
  color: $color-white;
  a {
    color: $color-white;
    text-decoration: none;

    &:hover {
      color: rgba($color-white, 0.9);
      text-decoration: none;
    }
  }

  .logo {
    margin: -4px 20px 0 4px;

    @include until($header-not-so-wide) {
      display: none;
    }
  }

  .columns {
    margin: 0 !important;
    height: 48px;
    @include until($header-not-so-wide) {
      height: 40px;
    }
    .column {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 0;
      padding-top: 0;
      &.c3 {
        justify-content: flex-end;
      }
    }
  }
  .c1 {
    flex-basis: auto;
    flex-grow: 0;
    margin-left: 16px;
    padding-left: 0;

    @include until($desktop) {
      margin-left: 16px;
    }
    @include until($tablet) {
      margin-left: 16px;
    }
  }
  .c2 {
    flex-basis: auto;
    flex-grow: 0;
    font-size: 16px;
    line-height: 0.99rem;
    padding-left: 13px;
    @include until($header-wide) {
      display: none !important;
    }
    h2 {
      line-height: 15px;
    }
  }
  .c3 {
    flex-grow: 1;
    font-size: 20px;
    line-height: 0.99rem;
    padding: 0;
    padding-right: 24px;
    @include until($header-not-so-wide) {
      padding-right: 16px;
    }
    .header-menu,
    #nav-toggle {
      @include from($header-not-so-wide) {
        display: none;
      }
    }
    #nav-menu {
      @include until($header-not-so-wide) {
        display: none;
      }
    }

    a {
      padding-left: 16px;
      text-decoration: none;
    }
  }
  .c4,
  .c5 {
    background-color: #f4f4f4;
    flex: 0 0 48px;
    padding: 0;
    @include until($header-not-so-wide) {
      display: none !important;
    }
  }
  a.c4 {
    background-color: #4c77a6;
  }
  a.c5 {
    background-color: #00b7f4;
  }
  .icon {
    color: $color-white;
    font-size: 24px;
  }
  .icon.is-large {
    height: 48px;
    width: 48px;
  }
  .header-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0px;
    z-index: 20;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background: $key-color;
    &.is-visible {
      display: block;
    }
    li {
      &:hover {
        opacity: 0.8;
      }
      a {
        display: inline-block;
        padding: 1em;
        width: 100%;
        text-decoration: none;
      }
    }
  }
}

.hero-head {
  #nav-menu {
    display: inline-flex;
    //line-height: 48px;
  }
  #nav-toggle {
    //margin-bottom: -0.25rem;
  }
  .is-visible-small {
    display: none;
  }
  @include until($tablet) {
    .is-visible-small {
      visibility: visible;
      display: inline-flex;
    }
  }
  @include from($tablet) {
    #nav-menu.is-visible-small.is-hidden {
      visibility: visible;
      display: inherit !important;
    }
  }
  #header-title {
    gap: 10.5px;

    a {
      display: flex;
    }

    .selector-control {
      display: flex;
      flex-direction: column;
      height: 36px;
      position: relative;
      z-index: 100;
      overflow: hidden;
      cursor: pointer;
      user-select: none;
      border-radius: 4px;
      outline: none;

      &::after {
        content: "";
        position: absolute;
        pointer-events: none;
        width: 10px;
        height: 100%;
        display: block;
        right: 7px;
        background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0ibTEgMyA0IDQgNC00IiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMS41Ii8+PC9zdmc+")
          no-repeat center;
      }

      .selector-list {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        border-radius: 4px;
        overflow: hidden;
        pointer-events: none;
      }

      &_open {
        overflow: visible;

        .selector-list {
          pointer-events: all;
        }
      }

      a {
        display: flex;
        align-items: center;
        padding: 0 20px 0 10px;
        flex: 0 0 36px;
        box-shadow: inset 0px 4px 4px rgba(10, 10, 10, 0.15);

        &:hover {
          opacity: 1;
        }

        &.selected {
          pointer-events: none;
        }

        &.item-sf {
          background-color: $color-orange;
          order: 3;

          &.selected {
            order: 0;

            &,
            &:hover {
              background-color: $color-orange-muted;
            }
          }
        }

        &.item-duma-7 {
          background-color: $color-blue;
          order: 2;

          &.selected {
            order: 0;

            &,
            &:hover {
              background-color: $color-blue-muted;
            }
          }
        }

        &.item-duma-8 {
          background-color: $color-dark-blue;
          order: 1;

          &.selected {
            order: 0;

            &,
            &:hover {
              background-color: $color-dark-blue-muted;
            }
          }
        }

        img {
          height: auto;
        }
      }

      @include until($header-not-so-wide) {
        height: 30px;

        a {
          flex: 0 0 30px;
        }
      }
    }
  }
}

.columns.md-page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 1px;
  max-width: 1280px;
  margin: 0 auto;

  @include until($tablet) {
    flex-direction: column-reverse;
    display: flex;
  }

  .md-page-section {
    max-width: 746px;

    &:not(:last-of-type) {
      padding-bottom: 42px;
    }
  }

  h1,
  h2,
  h3 {
    font-family: "Helios-Cond", "Helvetica Neue";
  }

  h1 {
    font-weight: 700;
    font-size: 34px;
    line-height: 120%;
    margin-bottom: 30px;
  }
  h2,
  h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    margin-top: 0;
    margin-bottom: 27px;
  }
  li {
    margin-bottom: 16px;
    padding-left: 10px;
  }
  p {
    margin-bottom: 20px;
  }
  ol {
    padding-left: 1em;
  }
  a:not(.button),
  a:hover:not(.button) {
    color: $key-color;
    text-decoration: none;
  }
  .active a:not(.button) {
    color: $color-black;
  }
}

.columns.about {
  padding: 48px 16px 16px 0px;

  @include until($desktop) {
    padding: 40px 16px 32px 16px;
  }

  @include until($tablet) {
    padding: 40px 8px 16px 8px;
  }

  .aside {
    @include until($tablet) {
      padding: 8px;
    }
  }

  .about-menu {
    width: 235px;
    top: 16px;
    position: -webkit-sticky;
    position: sticky;
    @include until($tablet) {
      width: auto;
    }
    @include from($tablet) {
      margin-top: 2.5em;
    }
  }
}

.columns.support {
  box-sizing: content-box;
  padding: 80px 0;
  max-width: 100%;
  width: 770px;
  box-sizing: border-box;

  @media screen and (max-width: 1087px) {
    padding: 40px 16px 32px 16px;
  }
  @media screen and (max-width: 767px) {
    padding: 40px 8px 16px 8px;
  }

  a:not(.button) {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background: $key-color;
      display: block;
    }
  }
}

#scrollToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $key-color;
  color: white;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 25px;
  font-size: 18px;
  opacity: 0.6;
  padding: 0;
  &:hover {
    opacity: 0.8;
  }
}

.outer_link {
  display: inline-block;
  padding: 4px 8px 3px 8px;
  font-size: 16px;
  line-height: 20px;
  background: rgba(47, 163, 228, 0.1);
  border-radius: 2px;
  color: #2fa3e4;
  text-decoration: none;
}

.dmbng-button {
  height: 33px;
  font-size: 16px;

  &.is-small {
    height: 28px;
    font-size: 14px;
  }

  &.is-medium,
  &.is-large {
    height: 44px;
    font-size: 16px;
  }

  &.is-primary {
    background-color: $key-color;
    color: $color-white;

    &:hover {
      background-color: rgba($key-color, 0.9);
    }
  }

  &:not(.is-primary) {
    color: $key-color;
  }

  &.is-outlined {
    color: $key-color;
    border-color: transparent;
    background-color: rgba($key-color, 9%);
  }

  &.is-bordered {
    border-color: $key-color;
    background-color: rgba($key-color, 7%);
  }

  &_shine {
    box-shadow: 0px 0px 13px rgba($key-color, 0.6) !important;
  }

  &_arial {
    font-family: Arial, Helvetica, sans-serif;
  }

  &__icon_separated {
    left: 0;
    height: 100%;
    width: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-size: auto 0.73em;
    background-repeat: no-repeat;
    background-position: left;
    margin-right: 0.75em;

    &::after {
      content: "";
      position: absolute;
      top: -1;
      display: block;
      height: calc(100% + 2px);
      width: 1px;
      background-color: darken($key-color, 15%);
      transform: translateX(1px);
    }
  }

  &__icon_info {
    background-image: url(/assets/images/info.svg);
  }
}

.quote {
  margin-top: 34px;
  margin-bottom: 56px;

  position: relative;
  padding-left: 32px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-color: $color-dark-blue;
  }

  p {
    color: $color-dark-blue;
  }

  &__author {
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  &__author-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-right: 24px;

    @include until($tablet) {
      width: 100px;
      height: 100px;
      align-self: flex-start;
    }
  }

  &__author-info {
    display: flex;
    flex-direction: column;
  }

  &__author-name {
    color: $color-dark-blue;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
  }

  &__author-position {
    font-size: 16px;
    line-height: 120%;
    color: $color-gray;
    margin-bottom: 16px;
  }

  &__author-caption {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $color-gray;
  }
}

.support-banner {
  margin-top: 32px;
  margin-bottom: 56px;
  background-color: $color-opacity-blue;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 27px;
  border-radius: 4px;

  &__content {
    flex: 1;
    color: $color-dark-blue;
    font-size: 17px;
    line-height: 24px;
  }

  &__action {
    flex-basis: 250px;
  }

  &__action-button {
    width: 100%;
    height: 44px;
    color: $color-white;
    background-color: $key-color;
    border-radius: 4px;
    border: none;
    padding: 0 24px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    &:hover {
      background-color: rgba($key-color, 0.9);
    }
  }

  @include until($tablet) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    &__action {
      flex-basis: auto;
    }
  }
}

.interests-schema {
  margin: 32px 0;
  border-radius: 4px;
  overflow: hidden;

  &__head {
    min-height: 32px;
    align-items: center;
    display: flex;
    padding: 5px 8px;
    background-color: $color-dark-blue;
    color: $color-white;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }

  &__content {
    display: flex;

    @include until($tablet) {
      flex-direction: column;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px 24px 41px;
    flex-grow: 1;
    flex-shrink: 1;

    &:nth-child(1) {
      background-color: rgba($color-dark-blue, 0.05);
      flex-basis: 243px;
      @include until($tablet) {
        flex-basis: auto;
      }
    }
    &:nth-child(2) {
      background-color: rgba($color-dark-blue, 0.1);
      flex-basis: 288px;
      @include until($tablet) {
        flex-basis: auto;
      }
    }
    &:nth-child(3) {
      background-color: rgba($color-dark-blue, 0.15);
      flex-basis: 215px;
      @include until($tablet) {
        flex-basis: auto;
      }
    }
  }

  &__column-badge {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    border-radius: 50%;
    background-color: $color-dark-blue;
    color: $color-white;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__column-content {
    color: $color-dark-blue;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }
}

.support-light-banner {
  margin-top: 32px;
  margin-bottom: 56px;
  background-color: $color-opacity-blue;
  color: $color-dark-blue;
  padding: 32px;
  align-items: center;
  gap: 27px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;

  // make a as button
  a {
    margin-top: 16px;
    display: flex;
    align-items: center;
    width: fit-content;
    text-align: center;
    padding: 0 24px;
    height: 44px;
    color: $color-white !important;
    background-color: $key-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;

    &:hover {
      background-color: rgba($key-color, 0.9);
    }
  }
}

/* Специфичный стиль для логотипа, чтобы исключить эффект при наведении */
header a:has(img.logo):hover {
  opacity: 1;
  color: inherit;
}
