@charset "utf-8";

html{overflow-y: auto;}
body, button, select, input{
  font-family: "Helios-Cond-Regular", "Helvetica Neue";
  }
body{
  background: $color-white;
  line-height: 1;
  min-width: 812px;
  display: flex;
  min-height: 100vh;

  flex-direction: column;

  -webkit-tap-highlight-color: transparent;
  
  @include until($desktop){
    min-width: $min-width;
  }

  .hero{
    flex: 1;
    min-height: calc(100vh - 70px);
  }
  &.chart{
    min-height: auto;
  }
}

a, strong a {
  color: $key-color;
  &:hover{
    opacity: 0.8;
    color: $key-color;
  }
}

.hero-body{
  padding: 0;
}

a:not(.button) {
  text-decoration: underline;
}

@mixin is-($color){
  color: $color;
  fill:$color;
  &.is-active{
    background: $color;
    border-color: $color;
    color: $color-white;
  }
}
.is-color-white {
  @include is-($color-black);
  &.is-active{
    background: $color-blue;
    border-color: $color-blue ;
  }
}
.is-color-red {
  @include is-($color-red)
}
.is-color-blue {
  @include is-($color-blue)
}
.is-color-er {
  @include is-($color-er)
}
.is-color-orange {
  @include is-($color-orange)
}
.is-color-yellow {
  @include is-($color-yellow)
}
.is-color-mint {
  @include is-($color-mint)
}
.is-color-gray-dark {
  @include is-(#606060)
}
.is-color-gray-light {
  @include is-(#DFE1E5);

  color: $color-black-text!important;
}
.is-color-gray {
  @include is-($color-gray)
}
.is-color-key-color {
  @include is-($key-color)
}

div#controls{
  .controls-container {
    padding: 16px 24px 0 24px;
    margin: 0;
    flex: 1 1 auto;
    display: flex;
    @include until($tablet){
      padding: 9px 16px 0 16px;
    }
  }

  select {width: 130px;}
  .column{
    padding: 0;
    padding-right: 16px;

    button, .awesomplete {
      margin-bottom: 16px;
      @include until($tablet){
        margin-bottom: 10px;
      }
    };

    &.last-on-mobile{
      padding-right: 0;}

    .select{
      margin-bottom: 8px;
    }
    .select.select_lobby{
      margin-bottom: 16px;
      @include until($tablet){
        margin-bottom: 10px;
      }
    }

    #clear{
      border: none;
      color: $color-red;
      &:focus{
        box-shadow: none;
      }
    }

    #search{
      border-right: none;
      border-left: none;
      border-top: none;
      box-shadow: none;
    }

    .search_icon{
      height: 1.8rem;
    }
    .convocations, .age{
      width: 89px;
      height: 24px;
      margin-bottom: 12px;
      margin-right: 0px;
    }

  }
  .presets{
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    white-space: nowrap;
    scrollbar-width: none;
    padding-bottom: 12px;
    position: relative;
    display: flex;
    align-items: stretch;

    &::before, &::after {
      content: "";
      position: sticky;
      top: 0;
      bottom: 0;
      display: inline-block;
      flex: 0 0 30px;
    }

    &::before {
      left: 0;
      background: linear-gradient(to left, rgba($color-white, 0), $color-white);
      margin-right: -6px;

      @include until($tablet){
        margin-right: -14px;
      }
    }
    &::after {
      right: 0;
      margin-left: -6px;
      background: linear-gradient(to right, rgba($color-white, 0), $color-white);

      @include until($tablet){
        margin-left: -14px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
    a{
      display: inline-block;
      white-space: nowrap;
      color: $key-color;
      text-decoration: none;
      padding-right: 16px;
    }
  }
}

.hero-body{
  position: relative;
  transition: all 0.5s ease-out 0s;
  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
    background: white;
    mix-blend-mode: luminosity;
    pointer-events: none;
    &:after {
      @include loader;
      animation: spinAround 1000ms infinite linear;
      border: 2px solid $color-blue;
      border-radius: $radius-rounded;
      border-right-color: transparent;
      border-top-color: transparent;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
    }
  }
}

div#clusters.is-loading {
  pointer-events: none;
  color: $color-gray;
  opacity: 0.8;

  &:after {
    @include loader;
    animation: spinAround 1000ms infinite linear;
    border: 2px solid $color-blue;
    border-radius: $radius-rounded;
    border-right-color: transparent;
    border-top-color: transparent;
    position: absolute;
    top: calc(50% - 2.5em);
    left: calc(50% - 2.5em);
    width: 5em;
    height: 5em;
    border-width: 0.25em;
  }
}

div#clusters>svg{
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

div#presets{
  padding: 10px;
}

.card__law {
  padding: 16px 27px;

  &~& {
    border-top: 1px solid $color-gray-light;
  }

  &-header {
    font-size: 16px;
    line-height: 21px;
    display: flex;
    gap: 24px;
    margin-bottom: 8px;
  }

  &-header-title {
    font-weight: 700;
  }

  &-header-status {
    font-size: 14px;
    color: $key-color;
  }

  &-content {
    margin-bottom: 12px;
  }
}

.accordion {
  background-color: $color-white;
  border-top: 1px solid $color-gray-light;
  border-bottom: 1px solid $color-gray-light;

  &__title {
    align-items: center;
    display: flex;
    height: 42px;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    padding: 0 27px;
    cursor: pointer;
    color: $color-black-text;

    &:before {
      content: '';
      display: inline-flex;
      width: 12px;
      height: 12px;
      margin-right: 12px;
      background-image: url(/assets/images/arrow.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &_expand {
    .accordion__title:before {
      transform: rotate(180deg);
    }
  }

  &__content {
    font-size: 16px;
    line-height: 21px;
    border-top: 1px solid $color-gray-light;
    display: none;
    color: $color-black-text;

    &:not(&_wide) {
      padding: 16px 27px;
    }
  }

  &~& {
    border-top: none;
  }
}

div#card {
  font-family: Arial;
  font-size: $font-size-m;
  line-height: 21px;
  top: 0;
  left: auto;
  width: 488px;
  height: 100%;
  background:#F4F4F4;
  padding-left: 40px;
  overflow-x: hidden;
  overflow-y: auto;
  color:black;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
  z-index: 200;
  @include until($tablet){
    background: $color-white;
  }

  .card__main-info {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding-bottom: 16px;
  }

  .card__law-info-header {
    padding: 16px 27px 24px;
  }

  .card__law-info-topbar {
    margin-bottom: 26px;
  }
  
  .card__law-info {
    padding-bottom: 16px;
  }

  .card__law-info-meta {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 30px;
    font-size: 14px;
    line-height: 17px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .card__law-info-meta-item {
    display: inline-block;
  }

  .card__law-info-meta-item-title {
    color: $color-gray;
  }

  .card__law-info-meta-item-value {
    color: $key-color;

    &_plain {
      color: $color-black-text;
    }
  }

  .card__law-info-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
    color: $color-black-text;
  }

  .card__law-info-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 8px;
    color: $color-black-text;
  }

  .card__law-info-caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: $color-gray;
    margin-bottom: 16px;
  }

  .card__lobby-matrix {
    font-size: 13px;

    h3 {
      text-transform: uppercase;
    }

    li {
      letter-spacing: 0.01em;
    }

    ul {
      margin-top: 0;
    }
  }

  .share_icons{
    position: fixed;
    margin-left: -40px;
    height: 100%;
    border-right:1px solid rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    @include until($tablet){
      margin-left: -40px;
    }
    .know_more{
      flex: 1;
      padding-left: 9px; /*ff bug, margin: 0 auto*/
      padding-top: 32px;
      a {
        writing-mode:vertical-lr;
        transform: rotate(-180deg);
        text-decoration: none;
        align-items: center;
      }
    }
    .social{
      flex: 0;
      display: flex;
      flex-direction: column;
      padding: 0;
      font-size: 22px;
      a{
        background: #0f81cc;
        width: 39px;
        height: 39px;
        align-items: center;
        justify-content: center;
        display: flex;
        color: white;
        &.vk{background-color: #4C77A6;}
        &.fb{background-color: #435695;}
        &.tw{background-color: #00B7F4;}
      }
    }
  }

  .status {
    height: 48px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 18px;
    margin-right: 25px;

    .last-update {
      color: $color-gray;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .is-editing {
      color: $color-red;
      display: flex;
      align-items: center;
      white-space: nowrap;

      &:before {
        content: "";
        width: 5px;
        height: 5px;
        background: $color-red;
        border-radius: 50%;
        display: block;
        margin: 0 6px;
      }
    }
  }

  .card__header {
    padding: 0 32px 32px 32px;
  }

  .columns.head{
    align-items: center;
    @include until($tablet){
      display: flex;
      flex-direction: column;
      .caption{
        text-align: center;
      }
    }
  }
  .prev-position {
    margin-top: 9px;
  }
  .link-button {
    display: inline-flex;
    font-size: 14px;
    height: 28px;
    align-items: center;
    background: rgba($key-color, 0.1);
    border-radius: 4px;
    color: $key-color;
    text-decoration: none;
    padding: 0 9px;
    white-space: nowrap;
    overflow: hidden;
    &:hover{
      color: $key-color;
      opacity: 0.8;
    }

    &_bordered {
      border: 1px solid $key-color;
    }
  }

  .dep-links {
    display: flex;
    gap: 8px;

    @include until($tablet){
      justify-content: center;
    }
  }

  .declaration-highlights {
    display: flex;
    gap: 50px;
    margin: 12px 0;

    .highlight-value {
      font-family: 'Helios-Cond-Bold';
      font-weight: 700;
      font-size: 32px;
      line-height: 36px;
      letter-spacing: -0.04em;
      padding-right: 2px;
      margin-bottom: 2px;
      white-space: nowrap;
    }

    .highlight-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $color-gray;
    }

    @include until($tablet){
      justify-content: center;
    }
  }

  #position{
    margin-top: 1em;
    margin-bottom: 1em;
    @include until($tablet){
      text-align: center;
    }
  }

  .bring{
    line-height: 1.2em;
    @include until($tablet){
      text-align: center;
      margin-bottom: 1em !important;
      .column{
        padding-top: 0;
      }
    }
  }

  @include until($tablet){
    width: 100%;
    min-width: $min-width;
    padding-left: 40px;
    position: fixed;
    right: 0;
  }

  h1 {
    font-size: $font-size-h1;
    line-height: 28px;
    font-weight: bold;
    @include until($tablet){
      font-size: 24px;
    }
  }

  h2 {
    margin-top: $offset-l;
    font-weight: bold;
    line-height: 1.75rem;
    @include until($tablet){
      margin-top: $offset-m;
    }
  }

  .laws_block{
    //margin-bottom: -0.5em;

    &>.column{
      padding-top: 0;
      padding-bottom: 0;
      line-height: normal;
      flex-grow: 1;
    }
    .law_count{
      @include from($tablet){
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
      }
    }
  }

  span#fraction_text{
    color: $color-gray;
    &.er{color: $color-blue;}
    &.kprf{color: $color-red;}
    &.ldpr{color: $color-yellow;}
    &.sr{color: $color-orange;}
    &.nl{color: $color-mint;}
    @include until($tablet){
      line-height: normal;
    }
  }

  .law_count{
    font-family: 'Helios-Cond-Bold';
    font-size: 56px;
    line-height: 57px;
    text-align: center;
    font-weight: bold;
    @include until($tablet){
      font-size: 48px;
    }
  }

  .law_text{
    padding-top: 0;
    font-size: 14px;
    color: $color-gray;
  }

  .columns{
    margin-top: 0;
    margin-bottom: 0;
  }

  .column{
    @include until($tablet){
      padding-bottom: 0;
    }
  }

  .image-cropper{
    position: relative;
  }

  .close_btn{
    position: fixed;
    top:15px;
    right: 15px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(/assets/images/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    &:hover{
      opacity: 0.8;
    }
  }

  .matrix{
    h3:first-letter{
      text-transform: capitalize;
    }

    h3:not(:first-of-type){
      padding-top: 0.5em;
    }

    li{
      display: inline;
      padding-left: 0.4em;
    }

    li:before {
      content: "\2192\2002";
    }

    li:first-of-type:before{
      content: '\2014\2002';
    }
  }
}

.footer{
  border-top: 1px solid #DDDDDD;
  background: inherit;
  padding: 0;
  padding-bottom: 1px;
  padding-top: 16px;
  font-size: 16px;
  overflow: hidden;

  @include until($tablet){
    //padding-top: 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    @include until($tablet){
      flex-direction: column;
      align-items: center;
    }
  }

  & > .columns {
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .columns{
    margin-bottom: 0;
    scrollbar-width:none;
    @include until($tablet){
      //margin: 0;
      }
  }

  .icon{
    opacity: 1;
    color: $color-white;
  }

  .copy {
    line-height: 18px;
  }

  .contact-email {
    @include until($tablet){
      display: none;
    }
  }

  .copy, .agent{
    padding: 13px 60px 13px;
    @include until($desktop){
      padding: 13px 32px 13px;
    }
    @include until($tablet){
      padding: 13px 16px 13px 16px;
    }
    &.is-pulled-right{
      @include until($tablet){
        //padding-bottom: 16px;
        float: none !important;
      }
    }
  }

  .social{
    display: flex;
    align-items: self-start;
    margin-right: -8px;
    padding-right: 0;
    //padding-left: 0; // z
    font-size: 24px;
    @include until($desktop){
      margin-left: 32px;
    }
    @include until($tablet){
      //margin-left: 0px;
      margin-left: .75rem;
      padding: 13px 16px 13px 16px;
    }

    a{
      background: #0f81cc;
      width: 39px;
      height: 39px;
      align-items: center;
      justify-content: center;
      display: flex;
      &.vk{background-color: #4C77A6;}
      &.fb{background-color: #435695;}
      &.tw{background-color: #00B7F4;}
    }
  }
}

.footer .extra {
  padding-bottom: 32px;
  padding-top: 24px;
  max-width: 75vw;

  @include until($desktop){
    padding-left: 44px;
  }

  @include until($tablet){
    max-width: unset;
    padding-left: 28px;
  }
}

.extra .columns, .extra-intro.columns{
  padding: 0;
  margin: 16px 49px;
  overflow-x: visible;
  white-space: normal;
  @include until($desktop){
    margin: 12px 32px 16px;
  }
  @include until($tablet){
    margin: 12px 16px 16px;
  }
  .column{
    padding-left: 0;
    padding-top: 0;
    font-size: 10px;
    padding-bottom: 5px;
    max-width: 1030px;
    p{
      padding-right: 16px;
      display: inline;
    }
  }
}

.backForLabel {
  fill: #fff;
  opacity: 0.0;
}
circle:hover {cursor:pointer;}
circle.activeCircle{
  stroke: black;
  stroke-width: 2;
}
.lobby_label{
  fill:#000;
  font-size: 14px;
  paint-order: stroke;
  pointer-events: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.7;
  stroke-width: 3px;
  stroke: #FFFFFF;
  text-anchor: middle;
  &.mini{
    stroke-width: 1.6px;
  }
  transition: 0.0s opacity 0.05s;
  & > *{
    pointer-events: none;
  }
  &.hovered {
    opacity: 0.0 !important;
    //transition: 0.1s opacity 0s;
  }
  &.mini{
  font-size: 12px;
  }
  &.midi{
    font-size: 10px;
  }
  &.maxi{
    font-size: 8px;
  }
  &.super{
    font-size: 6px;
  }
}

.sliders {
  .slider_label {
    text-align: center;
    font-size: 12px;
    margin-bottom: 5px;
    width: 65px;
  }
  .noUi-base .noUi-handle {
    background-color: $key-color;

    &.noUi-active, &:hover {
      background-color: rgba($key-color, 0.8);
    }
  }
  
  .noUi-base .noUi-connect {
    background-color: rgba($key-color, 0.8);
  }
}

.capitalizeFirsLetter:first-letter{
  text-transform: capitalize;
}

.mc-layout__bannerContent>iframe {
  height: 108px !important;
}

#fraction {
  z-index: 10;

  [data-tooltip]:hover:before {
    content: attr(data-tooltip);
    position: absolute;
    top: calc(100% + 1px);
    left: -1px;
    font-size: 12px;
    z-index: 100;
    line-height: 20px;
    padding: 6px 10px;
    color: $color-black-text;
    background: $color-white;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
  }
}

.legend {
  position: absolute;
  bottom: 41px;
  left: 48px;
  color: #4A4A4A;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  gap: 19px;

  @include until($tablet){
    left: 16px;
    bottom: 20px;
  }

  &__info {
    pointer-events: none;
    user-select: none;
  }

  &__info-content {
    display: flex;
    gap: 16px;
  }

  &__info-item {
    &::before {
      content: '';
      display: inline-block;
      width: 10px;
      height: 10px;
      margin-right: 4px;
      border-radius: 50%;
      background-color: $key-color;
      vertical-align: middle;
    }
    
    &_small::before {
      width: 7px;
      height: 7px;
    }

    &_big::before {
      width: 16px;
      height: 16px;
    }
  }

  &__modal {
    font-family: Arial, sans-serif;
    display: none;
    position: absolute;
    background-color: $color-white;
    border-radius: 6px;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
    width: 500px;
    line-height: 21px;
    left: calc(100% + 20px);
    bottom: 0;
    z-index: 100;
    
    @include until($tablet){
      position: fixed;
      max-height: calc(100% - 59px);
      left: 10px;
      width: calc(100% - 20px);
      bottom: 10px;
      height: auto;
    }
  }

  &__modal-content {
    overflow: auto;
    max-height: 100%;
    padding: 40px;

    p:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-image: url(/assets/images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__modal-title {
    font-family: 'Helios-Cond-Regular';
    margin-bottom: 0;
  } 
}

.transparency-logo {
  width: 188px;
  object-fit: contain;
  margin-right: 45px;
  margin-top: 16px;
  object-position: top;

  @include until($desktop){
    margin-top: 12px;
  }

  @include until($tablet){
    margin: 0 0 16px 0;
  }
}

.support-stats {
  display: flex;
  gap: 30px;
  margin: 24px 0;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 160px;
  }

  &__item-caption {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $color-gray;
    font-family: 'Arial', sans-serif;
  }

  &__item-value {
    white-space: nowrap;
    font-family: 'Helios-Cond-Bold';
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;    
    color: $color-black-text;
    letter-spacing: -0.04em;
  }
}

.rub {
  font-family: "Helvetica Neue", sans-serif;
  line-height: 0px;
}

.support-button {
  padding-left: 38px;
  padding-right: 38px;
}

.support-voluteer-button {
  margin-top: 24px;
}

#chart {
  max-width: 100vw;
}