@charset "utf-8";

html{overflow-y: auto;}
body, button, select, input{
  font-family: "Helios-Cond-Regular", "Helvetica Neue";
  }
body{
  background: $color-white;
  line-height: 1;
  overflow: hidden;
  min-width: 812px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @include until($desktop){
    min-width: auto;
  }
  .hero{
    flex: 1;
  }
}
a{
  color: $color-blue;
  &:hover{
    opacity: 0.8;
    color:currentColor;
  }
}
strong a{color: $color-blue;
  &:hover{
    opacity: 0.8;
    color:$color-blue;
  }}


.hero-body{
  padding: 0;
}

a{
  text-decoration: underline;
}

@mixin is-($color){
  color: $color;
  fill:$color;
  &.is-active{
    background: $color;
    border-color: $color;
    color: $color-white;
  }
}
.is-color-white {
  @include is-($color-black);
  &.is-active{
    background: $color-blue;
    border-color: $color-blue ;
  }
}
.is-color-red {
  @include is-($color-red)
}
.is-color-blue {
  @include is-($color-blue)
}
.is-color-er {
  @include is-($color-er)
}
.is-color-orange {
  @include is-($color-orange)
}
.is-color-yellow {
  @include is-($color-yellow)
}
.is-color-gray {
  @include is-($color-gray)
}
div#controls{
  //position: sticky;
  //position: -webkit-sticky;
  //top: 0;
   padding: 16px 44px 0 16px;
  margin: 0 0 0 44px;
  @include until($desktop){
    margin-left: 16px;
  }
  @include until($tablet){
    margin-left: 0px;
    padding-right: 16px;
    padding-top: 9px;
  }

  select {width: 152px;}
  .column{
    padding: 0;
    padding-right: 16px;

    button, .awesomplete {
      margin-bottom: 16px;
      @include until($tablet){
        margin-bottom: 10px;
      }
    };

    &.last-on-mobile{
      padding-right: 0;}

    .select{
      margin-bottom: 8px;
    }
    .select.select_lobby{
      margin-bottom: 16px;
      @include until($tablet){
        margin-bottom: 10px;
      }
    }

    #clear{
      border: none;
      color: $color-red;
      &:focus{
        box-shadow: none;
      }
    }

    #search{
      border-right: none;
      border-left: none;
      border-top: none;
      box-shadow: none;
    }

    .search_icon{
      height: 1.8rem;
    }
    .convocations, .age{
      width: 89px;
      height: 24px;
      margin-bottom: 12px;
      margin-right: 0px;
    }

  }
  .presets{
    height: 1em;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom: 8px;
    &::-webkit-scrollbar {
      display: none;
    }
    @include until($tablet){
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      white-space: nowrap;
    }
    a{
      display: inline-block;
      white-space: nowrap;
      color: #2FA3E4;
      text-decoration: none;
      padding-right: 16px;
    }
  }
}

#clusters{
  transition: all 0.5s ease-out 0s;
  &.is-loading {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
    background: white;
    mix-blend-mode: luminosity;
    &:after {
      @include loader;
      animation: spinAround 1000ms infinite linear;
      border: 2px solid $color-blue;
      border-radius: $radius-rounded;
      border-right-color: transparent;
      border-top-color: transparent;
      position: absolute;
      top: calc(50% - 2.5em);
      left: calc(50% - 2.5em);
      width: 5em;
      height: 5em;
      border-width: 0.25em;
    }
  }
}

div#clusters>svg{
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
}

div#presets{
  padding: 10px;
}

div#card {
  font-family: Arial;
  font-size: $font-size-m;
  line-height: 21px;
  top: 0;
  right: -18px;
  left: auto;
  width: 506px;
  height: 100%;
  background:#F4F4F4;
  padding: 32px;
  overflow: auto;

  @include until($tablet){
    width: 100%;
    padding: 16px;
    position: fixed;
    right: 0;
  }

  &.is-active{
    display: block;
  }

  h1 {
    font-size: $font-size-h1;
    line-height: 28px;
    font-weight: bold;
    @include until($tablet){
      font-size: 16px;
    }
  }

  h2 {
    margin-top: $offset-l;
    font-weight: bold;
    line-height: 1.75rem;
    @include until($tablet){

    }
  }

  span#fraction_text{
    color: $color-gray;
    &.er{color: $color-blue;}
    &.kprf{color: $color-red;}
    &.ldpr{color: $color-yellow;}
    &.sr{color: $color-orange;}
    @include until($tablet){
      font-size: 12px;
    }
  }

  .law_count{
    font-size: 56px;
    line-height: 57px;
    text-align: center;
    font-weight: bold;
    @include until($tablet){
      font-size: 48px;
    }
  }

  .law_text{
    line-height: 21px;
  }

  .columns{
    margin-top: 0;
    margin-bottom: 0;
  }

  .column{
    @include until($tablet){
      padding-bottom: 0;
    }
  }


  .image-cropper{
    position: relative;
  }

  .close_btn{
    position: fixed;
    top:0px;
    right: 0px;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }
  }

  .matrix{
    h3:first-letter{
      text-transform: capitalize;
    }

    h3:not(:first-of-type){
      padding-top: 0.5em;
    }

    li{
      display: inline;
      padding-left: 0.4em;
    }

    li:before {
      content: "\2192\2002";
    }

    li:first-of-type:before{
      content: '\2014\2002';
    }
    li:last-of-type:after{
      content: '.';
    }
  }

}

.footer{
  background: inherit;
  padding: 0;
  padding-bottom: 16px;
  padding-top: 10px;
  font-size: 16px;
  @include until($tablet){
    padding-top: 0;
  }
  .columns{
    overflow-x: scroll;
    white-space: nowrap;
    @include until($tablet){
      margin: 0;
      }
  }

  .icon{
    opacity: 1;
    color: $color-white;
  }

  .copy{
    padding: 16px 60px;
    @include until($desktop){
      padding: 16px 32px;
    }
    @include until($tablet){
      padding: 16px 16px 0 16px;
      flex: 0 0 190px;
    }
    &.is-pulled-right{
      @include until($tablet){
        //padding-bottom: 16px;
        float: none !important;
      }
    }
  }

  .social{
    display: flex;
    align-items: self-start;
    margin-right: -8px;
    padding-right: 0;
    font-size: 24px;
    @include until($desktop){
      margin-left: 32px;
    }
    @include until($tablet){
      margin-left: 0px;
      padding: 16px 16px 0 16px;
    }

    a{
      background: #0f81cc;
      width: 39px;
      height: 39px;
      align-items: center;
      justify-content: center;
      display: flex;
      &.vk{background-color: #4C77A6;}
      &.fb{background-color: #435695;}
      &.tw{background-color: #1FB8EA;}
    }
  }
}

.backForLabel {
  fill: #fff;
  opacity: 0.0;
}
circle:hover {cursor:pointer;}
.lobby_label{
  fill:#000;
  font-size: 14px;
  paint-order: stroke;
  pointer-events: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.7;
  stroke-width: 3px;
  stroke: #FFFFFF;
  text-anchor: middle;
  &.mini{
    stroke-width: 1.6px;
  }
  transition: 0.0s opacity 0.05s;
  & > *{
    pointer-events: none;
  }
  &.hovered {
    opacity: 0.0 !important;
    //transition: 0.1s opacity 0s;
  }
  &.mini{
  font-size: 12px;
  }
  &.midi{
    font-size: 10px;
  }
  &.maxi{
    font-size: 8px;
  }
  &.super{
    font-size: 6px;
  }
}



.slider_label {
  text-align: center;
  font-size: 12px;
  margin-bottom: 5px;
  width: 65px;}

.capitalizeFirsLetter:first-letter{
  text-transform: capitalize;
}
