---
---
header{
  background: #FF7A00;
  a.c4 {
    background-color: #DB7A21;
  }
  a.c5 {
    background-color: #D2872F;
  }
  a.c6 {
    background-color: #A65B1F;
  }
}
div#controls .column .convocations {
  width:120px;
  .slider_label {
    width: 90px;
  }
}

#scrollytelling{
  height: calc(100% - 48px);
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  z-index: 15;
  top: 48px;
  background: white;
  transition: opacity 400ms ease;
}

#container{
  margin: 0 auto;
  z-index: 2;
  position: relative;
  width: 50%;
}

#root{
  position: fixed;
  width: 60%;
  top: 20%;
  left: 20%;
}

.section{
  height:40vh;
  margin-bottom: 200px;
  color:black;
  div{
    background: rgba(255,255,255,.9);
    padding: 1rem;
    font-size: 1.5rem;
    border: 1px solid black;
  }
  &.lastWithText{
    height: 20vh;
  }
  &.exit{
    height: 10vh;
    div{
      border: 0px;
    }
  }
}

#encloseText11727{
  font-size: 12px;
}

.tellingLabel{
  text-anchor: middle;
  font-size: 8px;
}

.tellingCircle{
  fill:#3F3BFF;
  color: #3F3BFF;
}

.tellingCircleAlt{
  fill: #ff3bfc;
  color: #ff3bfc;
}

.tellingBluredCircle{
  fill: #9F9DFF;
}

.tellingCircleGray{
  fill: #656565;
  color: #656565;
 }