---
---
@import "vars";

$baseurl: "{{ site.baseurl }}";
$key-color: $color-blue;

@import "bulma/bulma.sass";
@import "image";
@import "fonts";

@import "common";

@import "main";

@import "nouislider";
@import "tooltip";
@import "awesomplete";
@import "zoomer";

html {
  overflow-y: hidden;
}

header{
  background: $color-orange;

  a.c4, a.c5, a.c6 {
    background-color: $color-orange;
  }
  .header-menu{
    background: $color-orange;
  }
}
div#controls .column .convocations {
  width:120px;
  .slider_label {
    width: 90px;
  }
}

#scrollytelling{
  display: none;
  height: calc(100% - 48px);
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  z-index: 15;
  top: 48px;
  background: white;
  transition: opacity 400ms ease;
  @include until($tablet){
    top: 40px;
    height: calc(100% - 40px);
  }
  #close_cross{
    background: url("../images/cross.svg");
    height: 50px;
    width: 50px;
    right: 36px;
    top: 68px;
    position: fixed;
    cursor: pointer;
    z-index: 25;
    &:hover{
      opacity: 0.8;
    }
  }

  #go_to_lobby_map{
    margin: 20vh auto 0;
    display: block;
    padding: 11px 32px 12px;
    background-color: $color-orange;
    color: white;
    font-size: 20px;
    border-radius: 0;
    line-height: 25px;
    height: 25px;
  }

  .arrow{
    position: absolute;
    border: none;
    top: 85vh;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(1,1,1,0);

    >span{
      display: block;
      width: 20px;
      height: 20px;
      border-bottom: 2px solid $color-orange;
      border-right: 2px solid $color-orange;
      transform: rotate(45deg);
      margin: -10px;
      animation: animate 2s infinite;

      &:nth-child(2){
        animation-delay: -0.2s;
      }
      &:nth-child(3){
        animation-delay: -0.4s;
      }
    }

    @keyframes animate {
      0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
      }
      50%{
        opacity: 1;
      }
      100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
      }
    }
  }

}

#container{
  margin: 0 auto;
  z-index: 2;
  position: relative;
  width: 70%;
  @include until($desktop){
    width: 100%;
  }
}

#root{
  position: fixed;
  width: 60%;
  top: 20%;
  left: 20%;

  @include until($desktop){
    width: 100%;
    left: 0;
  }
}

.section{
  height:40vh;
  margin-bottom: 30vh;
  color:black;
  div{
    background: rgba(255,255,255,.9);
    padding: 1.5rem;
    font-size: 1.5rem;
    border: 1px solid $color-orange;
    border-radius: 8px;
    @include until($desktop){
      font-size: 1rem;
    }
  }
  &.first{
    padding-top: 70vh;
  }
  &.lastWithText{
    height: 20vh;
  }
  &.exit{
    height: 10vh;
    @include until($desktop){
      height: 20vh;
    }
    div{
      border: 0px;
    }
  }
}

#encloseText11727{
  font-size: 12px;
}

.tellingLabel{
  text-anchor: middle;
  font-size: 8px;
}

.tellingCircleAlt{
  fill:#f781c0;
  color: #f781c0;
}

.tellingCircle{
  fill: #2FA3E4;
  color: #2FA3E4;
}

.tellingBluredCircle{
  fill: #999;
}

.tellingCircleGray{
  fill: #999;
  color: #999;
 }

.columns.about{
  .outer_link{
    background: rgba(255, 180, 68, 0.1);
  }
}
