---
---
header{
  background: #FF7A00;
  a.c4 {
    background-color: #DB7A21;
  }
  a.c5 {
    background-color: #D2872F;
  }
  a.c6 {
    background-color: #A65B1F;
  }
}
div#controls .column .convocations {
  width:120px;
  .slider_label {
    width: 90px;
  }
}

#scrollytelling{
  height: 100%;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  z-index: 15;
  top: 48px;
  background: white;
}

#container{
  margin: 0 auto;
  z-index: 2;
  position: relative;
  width: 50%;
}

#root{
  position: fixed;
  width: 60%;
  top: 20%;
  left: 20%;
}

.section{
  height:40vh;
  margin-bottom: 200px;
  color:black;
  div{
    background: white;
    padding: 1rem;
    font-size: 1.5rem;
  }
}