.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.sourceAndTags {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
  max-width: 90%;
  overflow: hidden;
}

.source {
  display: flex;
  gap: 8px;
  white-space: nowrap;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.description {
  margin-top: 8px;
  margin-bottom: 24px;
  color: var(--DB-Black-Text, #363636);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 2rem;
  font-size: 14px;
  line-height: 22px;
}

.metaItem {
  display: flex;
  gap: 8px;
  align-items: baseline;
  flex-wrap: wrap;

  &.authorsItem {
    row-gap: 0;
  }
}

.metaTitle {
  color: var(--DB-Dark-Grey, #747474);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.metaValue {
  color: var(--DB-New, #3d55cc);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &Plain {
    color: #363636;
  }
}

.metaTags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  color: var(--DB-New, #3d55cc);
}

.showMoreButton {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: var(--DB-New, #3d55cc);
  font-feature-settings: "liga" off, "clig" off;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  display: inline;

  &:hover {
    text-decoration: underline;
  }
}

.accordion {
  margin-left: -32px;
  margin-right: -32px;

  & > div:first-child {
    padding: 0 32px;
  }

  & > div:last-child {
    padding: 0 16px;
  }
}
