<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:url"           content="{{site.url}}/cards/{{page.person}}" />
    <meta property="og:image"         content="{{site.url}}/assets/images/preview_image.png" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Лоббисты в госдуме: {{page.fullname}}" />
    <meta property="og:description"   content="Депутат Государственной Думы" />
    <title>Лоббисты в госдуме: {{page.fullname}}</title>
</head>
<body>
<script >
    location="{{site.url}}/afkjvjhasdflkjlahsdf.html#id{{page.person}}";
</script>
</body>
</html>