<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      property="og:url"
      content="https://dumabingo.org/person/{{page.person}}"
    />
    <meta
      property="og:image"
      content="https://dumabingo.org/assets/images/preview_img.jpg"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{site.title}}: {{page.fullname}}" />
    <meta property="og:description" content="Депутат Государственной Думы" />
    <meta name="description" content="Депутат Государственной Думы" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:description"
      content="Депутат Государственной Думы"
    />
    <meta
      property="twitter:title"
      content="{{site.title}}: {{page.fullname}}"
    />
    <meta
      property="twitter:image"
      content="https://dumabingo.org/assets/images/preview_img.png"
    />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/duma-8.css" />
    <!-- Подключение CSS для Toastr -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    />
    {% include theme.html %}
    <title>{{site.title}}: {{page.fullname}}</title>
  </head>
  <body>
    <script
      async
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
    ></script>
    {% include card.html %} {% include scripts-require.html %}
  </body>
</html>
