<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      property="og:url"
      content="https://dumabingo.org/person/{{page.person}}"
    />
    <meta
      property="og:image"
      content="https://dumabingo.org/assets/images/preview_img.png"
    />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{site.title}}: {{page.fullname}}" />
    <meta property="og:description" content="Депутат Государственной Думы" />
    <meta name="twitter:card" content="summary_large_image" />
    <title>{{site.meta.title[page.type]}}: {{page.fullname}}</title>
  </head>
  <body>
    <script>
      location = "https://dumabingo.org/#id{{page.person}}";
    </script>
  </body>
</html>
