---
layout: default
---
<div class="columns about">
    <div class="column">
      {{content}}
    </div>
    <div class="column is-narrow">
        <div class="about-menu is-pulled-right">
            <h2>Описание видов лобби</h2>
            <ul>
              <li>
                <a href="">Глоссарий</a>
              </li>
              <li>
                <a href="">Описание видов лобби</a>
              </li>
              <li>
                <a href="">Методология исследования</a>
              </li>
              <li>
                <a href="">Мировой опыт</a>
              </li>
              <li>
                <a href="">История принятия закона о лоббизме в России</a>
              </li>
              <li>
                <a href="">Рейтинг потенциала лоббистских возможностей</a>
              </li>
              <li>
                <a href="">Кейсы</a>
              </li>
              <li>
                <a href="">Результаты исследования</a>
              </li>
              <li>
                <a href="">Выводы, рекомендации</a>
              </li>
            </ul>
        </div>
    </div>
</div>
