.page {
  margin: 0 auto;
  width: 100%;
  padding: 32px 16px 64px 16px;

  @include iftablet {
    max-width: 480px;
    padding: 32px 16px 80px 16px;
  }

  @include ifdesktop {
    max-width: 1280px;
    padding: 56px 80px 80px 80px;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 24px;
  align-items: center;

  @include ifdesktop {
    max-width: 624px;
    padding-bottom: 32px;
    align-items: flex-start;
  }

  .title {
    text-transform: uppercase;
    color: var(--DB-Black-Text, #363636);
    font-feature-settings: "clig" off, "liga" off;

    /* Text/12px/Bold */
    font-family: Arial;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 166.667% */

    @include ifdesktop {
      color: var(--DB-Black-Text, #363636);
      font-feature-settings: "clig" off, "liga" off;

      /* text/16px/Bold */
      font-family: Arial;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px; /* 162.5% */
    }
  }

  .subtitle {
    color: var(--DB-Black-Text, #363636);
    text-align: center;
    font-feature-settings: "clig" off, "liga" off;

    /* Heading/06 */
    font-family: HeliosCond;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 121.429% */

    @include iftablet {
      color: var(--DB-Black-Text, #363636);
      text-align: center;
      font-feature-settings: "clig" off, "liga" off;

      /* Heading/06 */
      font-family: HeliosCond;
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px; /* 121.429% */
    }

    @include ifdesktop {
      text-align: left;
      color: var(--DB-Black-Text, #363636);
      font-feature-settings: "clig" off, "liga" off;

      /* Heading/04 */
      font-family: HeliosCond;
      font-size: 42px;
      font-style: normal;
      font-weight: 700;
      line-height: 46px; /* 109.524% */
    }
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 40px;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;

  @include iftablet {
    padding-bottom: 56px;
  }

  @include ifdesktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.empty {
  color: var(--DB-Black-Text, #363636);
  font-feature-settings: "clig" off, "liga" off;
}

.loadMore {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: fit-content;
  margin: 0 auto;
  text-decoration: none !important;

  border-radius: 4px;
  border: 1px solid var(--DB-New, #3d55cc);
  background: rgba(61, 85, 204, 0.07);

  color: var(--Purple-DB-New, #3d55cc);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Button/XSmall */
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
}
